/**
 * @name Glasscord Companion
 * @author 8roly
 * @version 0.1.3
 * @description A companion theme for AryToNeX's Glasscord, which is required for this to work properly.
 * @source https://github.com/8roly/glasscord-companion
 * @website https://www.deviantart.com/8roly
*/

.ace_editor {
    font-family: "Iosevka SS12", "Iosevka Curly", monospace;
    font-weight: 350;
}

/* fuck it */

::placeholder, body, button, input, select, textarea, ::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: "Segoe UI", "Selawik", sans-serif, system-ui;
    font-weight: 350;
}

/* root variables */

:root {
    --glasscord-win-blur: acrylic;

    --server-icon-size: 36px; 
    --server-icon-spacing: 12px; 
    --server-container-padding: 8px; 

    --depth-4: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
    --depth-8: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108);
    --depth-16: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    --depth-64: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18);
}

/* change colors */

:root, .theme-light, .theme-dark {
    --text-link: #3778F6;
    --background-link: #3778F619;
}

.theme-light {
    --background-primary: white;
    --background-secondary: #f2f2f299;
    --background-tertiary: #f7f7f799;
    
    --background-modifier-selected: #F7F7F7;
    
    --header-primary: #1b1d23;
    --header-secondary: #1b1d23cc;

    --header-background: #ffffff99;

    --text-normal: #020406;
    --text-muted: #02040699;
    --channels-default: #020406;
    --interactive-normal: #02040699;
    --interactive-hover: #020406;
    --interactive-active: #1b1d23;
    
    --logo-primary: red;
    --focus-primary: red;
    
    --borders: #c4c8d2;

    
    --scrollbar-auto-track: #0000;
    --scrollbar-auto-thumb: #767676;

    }
    
.theme-dark {
    --background-primary: #191919;
    --background-secondary: #19191999;
    --background-tertiary: #1F1F1F99;
    
    --background-modifier-selected: #3B3B3B;
    
    --header-primary: #e6e6e6;
    --header-secondary: #e6e6e699;

    --header-background: #19191999;

    --text-normal: #f7f7f7cd;
    --text-muted: #f7f7f799;
    --channels-default: #f7f7f7cd;
    --interactive-normal: #f7f7f7cc;
    --interactive-hover: #f7f7f7;
    --interactive-active: #e6e6e6;
    
    --logo-primary: red;
    --focus-primary: red;
    
    --borders: #c4c8d2;

    --scrollbar-auto-track: #0000;
    --scrollbar-auto-thumb: #767676;
    }
    
/* hide titlebar */

.titleBar-AC4pGV, .children-19S4PO:after {
    display: none;
}

/* transparent bg */

.wrapper-1Rf91z, .container-PNkimc, .app-2rEoOp, .sidebar-2K8pFh, .container-1r6BKw.themed-ANHk51, .nowPlayingColumn-2sl4cE, .appMount-3lHmkl, body, .members-1998pB {
    background: transparent !important;
}

/* reintroduce background colors */

.bg-h5JY_x {
    background: var(--background-tertiary) !important;
}

.chat-3bRxxu, .container-1D34oG {
    background: var(--background-primary) !important;
    box-shadow: var(--depth-8);
}

.base-3dtUhz {
    background: var(--background-secondary) !important;
    box-shadow: var(--depth-8);
}

/* style inputs */

.scrollableContainer-2NUZem, .searchBar-3dMhjb {
    background: transparent !important;
    border-radius: 3px;
    box-shadow: var(--depth-4);
    transition: all .3s;
}

.messages-3amgkR {
    background: transparent !important;
}

.scrollableContainer-2NUZem:hover, .scrollableContainer-2NUZem:active {
    border-color: var(--text-link);
    transition: all .2s;
}

/* icons in sidebar */
.circleIconButton-jET_ig, .childWrapper-anI2G9 {
    background: none !important;
    color: var(--text-normal) !important;
}

#bd-pub-li, .guildSeparator-3s64Iy {
    display: none;
}

/* currently selected server */

.item-2hkk8m {
    border-radius: 2pt;
    width: 2.5px;
    margin-left: 2px;
    background-color: var(--text-link)
}

/* currently selected channel */

.content-3at_AU, .da-selected .da-layout {
    border-radius: 0px;
    margin: 0;
    background: var(--background-primary);
}

.da-selected {
    box-shadow: var(--depth-4);
    background: var(--background-primary);
    border-radius: 0px;
    z-index: 999;
}

.da-header::after, .da-header::before {
    display: none;
}

.da-header {
    box-shadow: 0px 0px!important;
    padding: 0px 8px;
    font-size: 16pt;
}

.da-header h1.da-name {
    font-weight: 500 !important;
    font-size: 14pt !important;
}

.da-containerDefault .da-wrapper:hover .da-content {
    background: transparent;
}

.da-scroller {
    width: calc(100% + 12px) !important;
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background: transparent; 
}

.da-selected .da-name {
    font-weight: 500 !important;
}

.da-container {
    background: transparent;
}

.scrollerWrap-2lJEkd {
    margin-right: -8px;
}

/* adjust headers in channel sidebar */

.name-IbjUBS, .container-2ax-kl {
    font-size: 14pt;
    font-weight: 450;
    font-family: "Segoe UI Semibold";
    text-transform: capitalize;
    line-height: 18pt;
    
}

.da-content {
    height: auto;
}

/* a header should not be that tiny.  what the hale. */

.privateChannelsHeaderContainer-3NB1K1 {
    padding: 3px 8px;
    box-sizing: border-box;
    height: 42px;
    font-size: 16px;
    line-height: 32px;
    text-transform: unset !important;
    color: var(--text-normal);
}

.privateChannelsHeaderContainer-3NB1K1:hover {
    background: var(--background-secondary);
    cursor: pointer;
    box-shadow: var(--depth-4);
}

.container-2Pjhx- {
    padding: 0px 0px !important;
}

#private-channels > div > h2 > div {
    position: absolute;
    width: calc(100% - 40px);
    height: 42px;
    box-sizing: border-box;
    padding: 2px 0px;
    text-align: right;
    background: transparent;
    box-shadow: 0px 0px !important;
}

.privateChannelsHeaderContainer-3NB1K1:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-weight: 400;
    font-size: 16pt;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-right: 12px;
    box-sizing: border-box;
    padding: 1px 4px;
    opacity: 1 !important;
}

.headerText-2F0828 {
    font-weight: 400;
}

/* and the rest */

.name-3_Dsmg {
    font-weight: 350;
    font-size: 16px;
}

.name-3YKhmS, .tierTooltipTitle-1EIbL_ {
    font-weight: 500;
    font-size: 14pt;
    line-height: 24px;
    text-transform: capitalize;
}

.header-2o-2hj {
    padding: 0px 8px;
}

/* fixing more font weights */

.name-uJV0GL, .title-eS5yk3 {
    font-weight: 400;
    font-size: 12pt;
}

.username-1A8OIy {
    font-weight: 450;
}

.timestamp-3ZCmNB, .activityText-OW8WYb, .hoverRoll-YK53gQ, .nicknames-1XK4Zt, .spacer-3kEb8l {
    font-weight: 350;
}

.activityText-OW8WYb {
    opacity: .6
}

.messageContent-2qWWxC, .activityText-yGKsKm {
    font-weight: 350 !important;
}

.activityText-yGKsKm {
    opacity: .5
}

/* some other stupid shit, sidebar right now i think */


.da-container[aria-setsize="37"], .da-containerDefault[draggable="true"] {
    margin: 0px !important;
    max-width: 100%;
    min-height: 40px !important;
    max-height: 44px !important;
}

.scroller-1JbKMe {
    margin-right: -8px !important;
}


/* searchbar */

.searchBar-6Kv8R2 {
    padding: 0 8px;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background: var(--background-primary)!important;
    border-radius: 2pt;
    color: var(--interactive-normal);
    width: 100% !important;
    font-size: 12pt;
    font-weight: 400 !important;
    height: auto !important;
    padding: 4px 8px;
    padding-bottom: 8px;
    transition: color .2s
}

.searchBar-6Kv8R2:hover .searchBarComponent-32dTOx {
    color: var(--interactive-hover);
    transition: color .3s
}
.container-1r6BKw.themed-ANHk51 {
    background: var(--header-background) !important;
    backdrop-filter: blur(15px) saturate(130%);
    height: 48px;
    box-sizing: border-box;
    padding: 8px;
    margin-top: -14px;
    position: absolute;
}

.newMessagesBar-265mhP {
    top: 46px;
    width: 100%;
    left: 0px;
    border-radius: 0px;
    background-color: var(--text-link);
}

.notice-2FJMB4 {
    background-color: var(--text-link) !important;
    font-weight: 350;
}

.newMessagesBar-265mhP button {
    font-weight: 350;
}

/* chat header with acrylic blur */

.akaBadge-1M-1Gw {
    background: none;
    font-weight: 350;
    font-size: 14px
}

.searchBar-3dMhjb {
    background: transparent !important;
    box-shadow: none;
    color: var(--interactive-normal);
    border-bottom: 1px solid var(--interactive-normal)!important;
    border-radius: 0px;
    padding: 0px;
    opacity: 1 !important;
}

.search-2oPWTC .DraftEditor-root {
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
}

.searchBar-3dMhjb .icon-38sknP .da-icon {
    opacity: 0;
}

.searchBar-3dMhjb .icon-38sknP:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    margin-top: -3px;
    color: var(--interactive-normal)
}

.scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG {
    scrollbar-width: none !important;
    }
    .scrollerWrapPolyfill-DBQCMm .scrollbar-2rkZSL, .scrollerWrapPolyfill-DBQCMm .pad-29zQak {
    background-color: transparent !important;
    }

    .auto-Ge5KZx::-webkit-scrollbar-thumb, .auto-Ge5KZx::-webkit-scrollbar-track {
    border-radius: 0px;
}

.auto-Ge5KZx::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 0px;
}

/* bright images look like ass with the dark theme, so let's try this: */

.theme-dark .imageWrapper-2p5ogY img {
    opacity: .6;
    transition: all .3s;
}

.theme-dark .imageWrapper-2p5ogY img:hover {
    opacity: 1;
    transition: all .2s;
}

/* dark sidebar */

.da-sidebar.theme-dark {
    background: var(--background-secondary) !important;
}

.da-sidebar.theme-dark .content-3at_AU, .da-sidebar.theme-dark .selected-aXhQR6 .layout-2DM8Md {

    color: var(--text-primary);
    -webkit-filter: brightness(.75) contrast(1.5) invert(1);
    filter: brightness(.75) contrast(1.5) invert(1)
    
}

.da-sidebar.theme-dark .content-3at_AU, .da-sidebar.theme-dark .selected-aXhQR6 .layout-2DM8Md .wrapper-3t9DeA {
    -webkit-filter: invert(1) brightness(1.2)!important;
    filter: invert(1) brightness(1.2)!important;

}

/* server sidebar */

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background: var(--background-primary) !important;
}

.content-3at_AU, .wrapper-1ucjTd:hover .content-3at_AU {
    background: transparent;
}

.wrapper-1ucjTd {
    height: unset;
}

.wrapper-1ucjTd:hover {
    background: var(--background-secondary) !important;
    box-shadow: var(--depth-4)
}

.scroller-2wx7Hm {
    margin-right: -8px;
    z-index: 9;
}

/* this code is an absolute mess */

.clickable-1JJAn8:hover .layout-2DM8Md {
    background: transparent;
    z-index: 999;
}

.clickable-1JJAn8 {
    border-radius: 0px !important;
}

.da-clickable:hover, .da-clickable:hover .muted-3mU76i, .containerDefault--pIXnN:hover {
    background: var(--background-secondary);
    box-shadow: var(--depth-4)
}

.da-iconWrapper.da-clickable:hover {
    background: transparent !important;
    box-shadow: 0px 0px !important;
}

/* change message input */

.channelTextArea-rNsIhG {
    background: var(--background-modifier-selected);
    border-radius: 2pt;
    }

/* settings page */

.header-2RyJ0Y, .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item {
    font-weight: 400;
    line-height: 24px;
}

.sidebarRegionScroller-3MXcoP {
    justify-content: flex-start !important;
    background: transparent;
}

.sidebarRegion-VFTUkN {
    padding-left: 24px;
    background: transparent !important;
}

.platform-win .standardSidebarView-3F1I7i, .layer-3QrUeG {
    background: transparent !important;
}

.side-8zPYf6 .separator-gCa7yv, .theme-light #bd-settings-sidebar .ui-tab-bar-separator {
    opacity: 0;
}

#bd-settings-sidebar .ui-tab-bar-header, .da-item[style="color: rgb(114, 137, 218);"] {
    color: var(--text-link) !important;
    font-weight: 500;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background: var(--text-link)
}

/* headers */

h5, #bd-settings-sidebar .ui-tab-bar-header {
    font-size: 16px !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
}

/* let's change the userlist, as well */

.roleColor-rz2vM0 {
    font-weight: 400 !important;
}

.membersGroup-v9BXpm {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14pt;
    box-sizing: border-box;
    padding: 8px 16px;
    line-height: 24px;
}

.members-1998pB, .members-1998pB>div {
    background: var(--background-secondary) !important;
    box-shadow: var(--depth-4) !important;
}

/* some of these popups don't use root variables so guess what i'm about to do? */

.root-1gCeng, .drawerSizingWrapper-17Mss4, .wrapper-2aW0bm {
    background: var(--background-primary) !important;
    box-shadow: var(--depth-8) !important;
    border-radius: 2pt;
}

.footer-2gL1pp, .button-1ZiXG9.selected-LCBEAU {
    background: var(--background-tertiary) !important;
    box-shadow: 0px 0px !important;
}

.wrapper-2aW0bm {
    background: var(--background-tertiary)
}

.h4-AQvcAz, .h5-18_1nd {
    text-transform: capitalize;
}

.emojiPicker-3PwZFl, .wrapper-1-Fsb8 {
    background: transparent !important;
}

/* footer edit real quick */

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > div > div > div.sidebar-2K8pFh.da-sidebar > section > div.container-3baos1.da-container > div.nameTag-3uD-yy.da-nameTag.canCopy-2VBT7N.da-canCopy.focusable-1YV_-H.da-focusable > div.colorStandard-2KCXvj.size14-e6ZScH.usernameContainer-1fp4nu.da-usernameContainer > div {
    font-size: 16px;
    font-weight: 400;
    margin-top: -1px;
}

.usernameContainer-1fp4nu {
    padding-bottom: 2px;
}

/* mentions */

.wrapper-3WhCwL {
    color: var(--text-link);
    background-color: var(--background-link);
    border-radius: 2pt;
}

/* flyouts? */

.subscribeTooltipWrapper-32-Ce8 {
    background: var(--text-link);
}

.subscribeTooltipWrapper-32-Ce8:after {
    border-bottom-color: var(--text-link)
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: var(--text-link)
}

/* touching up sidebars in channels */

.wrapper-PY0fhH {
    min-height: 42px;
    padding: 0px 8px;
}

.containerDefault-3tr_sE {
    padding-top: 0px;
    margin-left: 0px;
}

.da-mainContent .da-arrow {
    display: none;
}

.da-container .da-overflow {
    height: 100%;
}

.da-containerDefault .da-wrapper {
    padding: 4px 8px;
    min-height: 40px;
    max-height: 44px;
    box-sizing: border-box;
}

.content-1x5b-n {
    padding: 0px;
    border-radius: 0px;
}

.da-name {
    font-weight: 400 !important;
    font-size: 12pt;
}

/* toasts */

.bd-toast {
    box-shadow: var(--depth-8) !important;
    background: var(--background-modifier-selected);
    border-radius: 4pt !important;
    color: var(--text-normal);
    font-family: "Segoe UI Semibold";
    font-weight: 450;
}

.bd-toast.toast-info, .bd-toast.toast-success {
    background-color: var(--text-link);
    color: white;
}

/* uploading files */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    box-shadow: var(--depth-4);
}

.uploadModal-2ifh8j {
    box-shadow: var(--depth-16) !important;
    border-radius: 4pt !important;
}

div > .da-backdrop {
    background-color: var(--background-primary) !important;
    backdrop-filter: saturate(130%) !important;
}

/* popup modals on messages */

.menu-3sdvDG {
    background: var(--background-tertiary);
    backdrop-filter: blur(15px) saturate(130%) !important;
    box-shadow: var(--depth-16);
}

.item-1tOPte {
    font-weight: 400;
    font-size: 10pt;
}

#app-mount > div:nth-child(7) > div.modal-3c3bKg.da-modal > div > div > div.inner-3nWsbo.da-inner > div.comment-4IWttf.da-comment > div.channelTextAreaUpload-3t7EIx.da-channelTextAreaUpload.marginTop8-1DLZ1n.da-marginTop8.channelTextArea-2VhZ6z.da-channelTextArea > div {
    background: var(--background-secondary) !important;
}

.theme-light .footer-3mqk7D {
    background: transparent;
    box-shadow: 0px 0px;
}

.theme-light .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: var(--text-muted);
    font-weight: 400 !important;
}

.da-label {
    text-transform: lowercase !important;
} 

.da-label:first-letter, .da-optional {
    text-transform: capitalize !important;
}

    /* replacing icons . . . */

.da-iconWrapper, .button-38aScr, .da-mainContent {
    box-shadow: 0px 0px transparent;
    background: transparent;
    font-weight: 400 !important;
    color: var(--interactive-normal);
}

.da-iconWrapper:hover, .button-38aScr:hover, .da-mainContent:hover {
    color: var(--interactive-hover);
}

/* add server */

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > nav > div.scroller-2TZvBN.da-scroller.none-2Eo-qx.scrollerBase-289Jih > div.tutorialContainer-SGrQ1h.da-tutorialContainer > div > div.listItemWrapper-3X98Pc.da-listItemWrapper > div > svg > foreignObject > div::before {
    font-family: "Segoe MDL2 Assets" !important;
    content: "";
    position: absolute !important;
    width: 32px !important;
    height: 32px !important;
    background: transparent !important;
    color: var(--text-normal) !important;
    box-sizing: border-box;
    padding: 5px 6px;
    font-size: 16pt;
    opacity: 1 !important;
    margin-top: 8px;
}

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > nav > div.scroller-2TZvBN.da-scroller.none-2Eo-qx.scrollerBase-289Jih > div.tutorialContainer-SGrQ1h.da-tutorialContainer > div > div.listItemWrapper-3X98Pc.da-listItemWrapper > div > svg > foreignObject > div {
    color:  transparent !important;
}

    /* explore servers */

.da-circleIconButton[aria-label="Explore Public Servers"] {
    color: transparent !important;
    font-family: "Segoe MDL2 Assets";
}

.da-circleIconButton[aria-label="Explore Public Servers"]:before {
    content: "";
    background: blue;
    position: absolute !important;
    width: 32px !important;
    height: 32px !important;
    background: transparent !important;
    color: var(--text-normal) !important;
    box-sizing: border-box;
    padding: 5px 6px;
    font-size: 16pt;
    opacity: 1 !important;
    margin-top: 8px;
}

    /* friends */

.da-clickable[href="/channels/@me"] svg {
    color: transparent !important;
}

.da-clickable[href="/channels/@me"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    position: absolute;
    width: 32px !important;
    height: 32px !important;
    background: transparent !important;
    color: var(--text-normal) !important;
    box-sizing: border-box;
    padding: 10.5px 14px;
    font-size: 16pt;
    opacity: 1 !important;
}

    /* nitro */

.da-clickable[href="/store"] svg {
    color: transparent !important;
}

.da-clickable[href="/store"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    position: absolute;
    width: 32px !important;
    height: 32px !important;
    background: transparent !important;
    color: var(--text-normal) !important;
    box-sizing: border-box;
    padding: 11px 14px;
    font-size: 16pt;
    opacity: 1 !important;
}

    /* direct messages */

.da-iconWrapper[aria-label="Create DM"] svg {
    color: transparent;
    opacity: 0;
}

.da-iconWrapper[aria-label="Create DM"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    box-sizing: border-box;
    padding: 0px 0px;
    opacity: 1 !important
}

    /* microphone */ 

button[aria-label="Mute"] svg {
    color: transparent;
}

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > div > div > div.sidebar-2K8pFh.da-sidebar > section > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 > button:nth-child(1) > div:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    box-sizing: border-box;
    padding: 10px 0px;
    opacity: 1 !important
}

    /* headphones */

button[aria-label="Deafen"] svg {
    color: transparent;
}

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > div > div > div.sidebar-2K8pFh.da-sidebar > section > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 > button:nth-child(2) > div:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    box-sizing: border-box;
    padding: 10px 0px;
    opacity: 1 !important
}

    /* settings */

button[aria-label="User Settings"] .da-contents svg {
    color: transparent;
}

button[aria-label="User Settings"]  .da-contents:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    box-sizing: border-box;
    padding: 10px 0px;
    opacity: 1 !important
} 

/* icons in top bar */

/* direct messages */

.da-iconWrapper[aria-label="Direct Message"] svg, .da-iconWrapper[aria-label="Direct Message"]:hover svg {
    color: transparent;
}

.da-iconWrapper[aria-label="Direct Message"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 3.5px 0px;
    opacity: 1 !important;
    }

    /* call */

.da-iconWrapper[aria-label="Start Voice Call"] svg, .da-iconWrapper[aria-label="Start Voice Call"]:hover svg {
    color: transparent;
}

.da-iconWrapper[aria-label="Start Voice Call"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
    }

    /* video */

.da-iconWrapper[aria-label="Start Video Call"] svg, .da-iconWrapper[aria-label="Start Video Call"]:hover svg {
    color: transparent;
}

.da-iconWrapper[aria-label="Start Video Call"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
    }

/* pinned messages */

.da-iconWrapper[aria-label="Pinned Messages"] svg, .da-iconWrapper[aria-label="Pinned Messages"]:hover svg {
    color: transparent;
}

.da-iconWrapper[aria-label="Pinned Messages"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    font-weight: 700;
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* add user */

.da-iconWrapper[aria-label="Add Friends to DM"] svg, .da-iconWrapper[aria-label="Add Friends to DM"]:hover svg {
    color: transparent;
}

.da-iconWrapper[aria-label="Add Friends to DM"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* inbox */

.da-iconWrapper[aria-label="Inbox"] svg, .da-iconWrapper[aria-label="Inbox"]:hover svg {
    color: transparent;
} 

.da-iconWrapper[aria-label="Inbox"]:before {
    content: "";
    font-family: "codicon";
    font-size: 16pt;
    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* help */

.da-iconWrapper[aria-label="Help"] svg, .da-iconWrapper[aria-label="Help"]:hover svg {
    color: transparent;
} 

.da-iconWrapper[aria-label="Help"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    font-weight: bold;
    
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* mute server */

.da-iconWrapper[aria-label~="Mute"] svg, .da-iconWrapper[aria-label~="Mute"]:hover svg {
    color: transparent;
} 

.da-iconWrapper[aria-label~="Mute"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 24px;
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* user list */

.da-iconWrapper[aria-label="Member List"] svg, .da-iconWrapper[aria-label="Member List"]:hover svg {
    color: transparent;
} 

.da-iconWrapper[aria-label="Member List"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 24px;
    color: inherit !important;
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* within the message container */

.attachButtonInner-PQjIyk svg {
    opacity: 0 
}

.attachButtonInner-PQjIyk:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    margin-top: 3px;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* gift nitro */

button[aria-label="Send a gift"] .da-contents {
    opacity: 0;
}

button[aria-label="Send a gift"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    margin-top: 3px;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* gif */

button[aria-label="Open GIF picker"] .da-contents {
    opacity: 0;
}

button[aria-label="Open GIF picker"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    
    position: absolute;
    margin-top: 3px;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
    padding: 1.5px 0px;
    opacity: 1 !important;
}

/* emoji picker */

.theme-light .sprite-2iCowe {
    background-image: url('https://i.imgur.com/sA65591.png') !important;
    opacity: .8;
}

.theme-dark .sprite-2iCowe {
    background-image: url('https://i.imgur.com/EKX784M.png') !important;
    opacity: .8;
}

    /* within channels */

/* text channels */

.da-iconContainer[aria-label="Text"] .da-icon {
    opacity: 0 !important;
}

.da-iconContainer[aria-label="Text"]:before {
    content: "#";
    font-size: 16pt;
    margin-left: 4px;
    font-weight: 450;
    
    position: absolute;
    opacity: 1 !important;
}

.da-iconContainer[aria-label="Voice"] .da-icon {
    opacity: 0 !important;
}

.da-iconContainer[aria-label="Voice"]:before {
    content: "";
    font-family: "Segoe MDL2 Assets";
    font-size: 16pt;
    font-weight: 450;
    
    position: absolute;
    opacity: 1 !important;
}

/* unread messages indicator */

.unread-3zKkbm {
    height: 8px;
    width: 2px;
    margin-left: 2px;
}

/* content: "";
    font-family: "Segoe MDL2 Assets";
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    color: var(--text-normal) !important;
    box-sizing: border-box;
    padding: 10px 3.5px;
    opacity: 1 !important */
